<style>
  #map {
    height: 400px;
    width: 100%;
  }
</style>

<h1> Posts </h1>


<div id="map"></div>

<!-- The GMaps script that loads the API, once loaded it will call our `initMap` function
     to begin displaying the map. The 2 maps currently seem to be at /home, and /posts/new.
     -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzxyyhN78fPrkms-F4AbEUp7YTZ5wDX-s&callback=initMap">
</script>
